<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-target="#lote" data-toggle="tab" href="">Lote</a></li>
    <li role="presentation"><a data-target="#pagos" data-toggle="tab" href="">Pagos</a></li>
    <li role="presentation"><a data-target="#cliente" data-toggle="tab" href="">Cliente</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="lote">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lote</h3>
            </div>
            <div class="panel-body"> 
                <form ng-submit="ctrl.update_lote(ctrl.lote)">
                    <div class="form-group">
                        <label>Obra</label>
                        <p class="form-control-static" >{{ctrl.lote.obra}}</p>
                    </div>
                    <div class="form-group">
                        <label>Manzana</label>
                        <p class="form-control-static" >{{ctrl.lote.manzana}}</p>
                    </div>
                    <div class="form-group">
                        <label>Lote</label>
                        <p class="form-control-static" >{{ctrl.lote.nombre}}</p>
                    </div>
                    <div class="form-group">
                        <label>Valor Base</label>
                        <p class="form-control-static" >{{ctrl.lote.valor_base}}</p>
                    </div> 
                    <div class="form-group">
                        <label>Valor Ampliación</label>
                        <p class="form-control-static" >{{ctrl.lote.valor_ampliacion}}</p>
                    </div> 
                    <div class="form-group">
                        <label>Valor Venta</label>
                        <p class="form-control-static" >{{ctrl.lote.valor_venta}}</p>
                    </div> 
                    <div class="form-group">
                        <label>Estado Venta</label>
                        <select id="impuesto" class="form-control" ng-options="estado.descripcion for estado in ctrl.estados_venta" ng-model="ctrl.lote.estado_venta">
                            <option value="">Seleccionar...</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-default">Guardar</button>

                </form>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="pagos">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pagos</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">  
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Monto</th>
                                    <th>Tipo</th>
                                    <th>Forma</th>                                   
                                    <th>Nota</th>
                                    <th>Validado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pago in ctrl.lote.pagos">
                                    <td>{{pago.fecha}}</td>
                                    <td>{{pago.monto}}</td>
                                    <td>{{pago.tipo_pago}}</td>
                                    <td>{{pago.forma_pago}}</td>                                    
                                    <td>{{pago.nota}}</td>
                                    <td>{{pago.validado}}</td>
                                   
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
             
            </div>
        </div>
        <div class="col-sm-4">
            <form name="formPago">  
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Nuevo Pago</h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div class="form-group">
                                <label>Monto</label>
                                <input type="text" class="form-control" ng-model="ctrl.pago.monto">
                            </div>
                            <div class="form-group">
                                <label>Tipo</label>
                                <select class="form-control" ng-model="ctrl.pago.tipo" ng-options="tipo.descripcion for tipo in ctrl.tipos">
                                    <option value="">Seleccionar...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Forma</label>
                                <select class="form-control" ng-model="ctrl.pago.forma" ng-options="forma.descripcion for forma in ctrl.formas">
                                    <option value="">Seleccionar...</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Fecha</label>
                                <input type="text" class="form-control" ng-model="ctrl.pago.fecha">
                            </div>
                            <div class="form-group">
                                <label>Nota</label>
                                <input type="text" class="form-control" ng-model="ctrl.pago.nota">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-default" ng-click="ctrl.addPago(formPago, ctrl.lote, ctrl.pago)">Nuevo</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="cliente">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cliente</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Cliente</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.nombre}}</p>
                </div>
                <div class="form-group">
                    <label>RFC</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.rfc}}</p>
                </div> 
                <div class="form-group">
                    <label>Teléfono</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.telefono1}}</p>
                </div> 
                <div class="form-group">
                    <label>Teléfono 2</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.telefono2}}</p>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.email}}</p>
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.direccion}}</p>
                </div>
                <div class="form-group">
                    <label>Nota</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.nota}}</p>
                </div>

            </div>
        </div>   
    </div>
</div>

<!--<div class="row">

    <div class="col-sm-8"> 
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Lote</h3>
            </div>
            <div class="panel-body"> 
                <form ng-submit="ctrl.update_lote(ctrl.lote)">
                    <div class="form-group">
                        <label>Obra</label>
                        <p class="form-control-static" >{{ctrl.lote.obra}}</p>
                    </div>
                    <div class="form-group">
                        <label>Manzana</label>
                        <p class="form-control-static" >{{ctrl.lote.manzana}}</p>
                    </div>
                    <div class="form-group">
                        <label>Lote</label>
                        <p class="form-control-static" >{{ctrl.lote.nombre}}</p>
                    </div>
                    <div class="form-group">
                        <label>Valor Base</label>
                        <p class="form-control-static" >{{ctrl.lote.valor_base}}</p>
                    </div> 
                    <div class="form-group">
                        <label>Valor Ampliación</label>
                        <p class="form-control-static" >{{ctrl.lote.valor_ampliacion}}</p>
                    </div> 
                    <div class="form-group">
                        <label>Valor Venta</label>
                        <p class="form-control-static" >{{ctrl.lote.valor_venta}}</p>
                    </div> 
                    <div class="form-group">
                        <label>Estado Venta</label>
                        <select id="impuesto" class="form-control" ng-options="estado.descripcion for estado in ctrl.estados_venta" ng-model="ctrl.lote.estado_venta">
                            <option value="">Seleccionar...</option>
                        </select>
                    </div>


                    <button type="submit" class="btn btn-default">Guardar</button>
                    <button type="button" class="btn btn-default" ng-click="">Pago</button>
                </form>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cliente</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Cliente</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.nombre}}</p>
                </div>
                <div class="form-group">
                    <label>RFC</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.rfc}}</p>
                </div> 
                <div class="form-group">
                    <label>Teléfono</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.telefono1}}</p>
                </div> 
                <div class="form-group">
                    <label>Teléfono 2</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.telefono2}}</p>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.email}}</p>
                </div>
                <div class="form-group">
                    <label>Dirección</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.direccion}}</p>
                </div>
                <div class="form-group">
                    <label>Nota</label>
                    <p class="form-control-static" >{{ctrl.lote.cliente.nota}}</p>
                </div>

            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pagos</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">  
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Monto</th>
                                <th>Tipo</th>
                                <th>Forma</th>
                                <th>Fecha</th>
                                <th>Nota</th>
                                <th>Validado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pago in ctrl.lote.pagos">
                                <td>{{pago.monto}}</td>
                                <td>{{pago.tipo_pago}}</td>
                                <td>{{pago.forma_pago}}</td>
                                <td>{{pago.fecha}}</td>
                                <td>{{pago.nota}}</td>
                                <td>{{pago.validado}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <form name="formPago">  
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pago</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <label>Monto</label>
                            <input type="text" class="form-control" ng-model="ctrl.pago.monto">
                        </div>
                        <div class="form-group">
                            <label>Tipo</label>
                            <select class="form-control" ng-model="ctrl.pago.tipo" ng-options="tipo.descripcion for tipo in ctrl.tipos">
                                <option value="">Seleccionar...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Forma</label>
                            <select class="form-control" ng-model="ctrl.pago.forma" ng-options="forma.descripcion for forma in ctrl.formas">
                                <option value="">Seleccionar...</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="text" class="form-control" ng-model="ctrl.pago.fecha">
                        </div>
                        <div class="form-group">
                            <label>Nota</label>
                            <input type="text" class="form-control" ng-model="ctrl.pago.nota">
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default" ng-click="ctrl.addPago(formPago, ctrl.lote, ctrl.pago)">Nuevo</button>
                </div>
            </div>
        </form>
    </div>
</div>-->
<!--<div>{{ctrl.lote|json}}</div>-->