<h1>Nuevo Producto</h1>

<form ng-submit="ctrl.add_producto(ctrl.producto)">
    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" id="descripcion" class="form-control" placeholder="Descripción" ng-model="ctrl.producto.descripcion" >
    </div>
    <div class="form-group">
        <label for="precio">Precio</label>
        <input type="text" id="precio" class="form-control" placeholder="Precio" ng-model="ctrl.producto.precio_unitario" >
    </div>
    <div class="form-group">
        <label for="costo">Costo</label>
        <input type="text" id="costo" class="form-control" placeholder="Costo" ng-model="ctrl.producto.costo" >
    </div>
    <div class="form-group">
        <label for="impuesto">Impuesto</label>
        <select id="impuesto" class="form-control">
            <option value="">Seleccionar...</option>
        </select>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Asignar??
        </label>
    </div>
    <button type="submit" class="btn btn-default">Guardar</button>
</form>
<div>{{ctrl.producto|json}}</div>